@model GestaodeFrota.Models.Abastecimento
@{
    ViewData["Title"] = "DetailsAbastecimento";
}

<h1>DetailsAbastecimento</h1>

<div>
    <h4>Abastecimento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Litros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Litros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorLitro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorLitro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorAbaste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorAbaste)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataAbaste)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataAbaste)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Posto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Posto.NomePosto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Automovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Automovel.Placa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
</div>