@model GestaodeFrota.Models.Multa
@{
    ViewData["Title"] = "DetailsMulta";
}

<h1>DetailsMulta</h1>

<div>
    <h4>Multa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalMulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalMulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataMulta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataMulta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gravidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gravidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pontos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodIfracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodIfracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Automovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Automovel.Placa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
</div>