@model GestaodeFrota.Models.Viagem
@{
    ViewData["Title"] = "DetailsViagem";
}

<h1>DetailsViagem</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataChegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataChegada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OdometroSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OdometroSaida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OdodmetroChegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OdodmetroChegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinoSaida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinoSaida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DestinoChegada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinoChegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriçaoViagem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriçaoViagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motorista.NomeMotorista)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Automovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Automovel.Placa)
        </dd>
        <dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
</div>