@model IEnumerable<GestaodeFrota.Models.Oficina>
@{
    ViewData["Title"] = "Oficina";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NomeOficina)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Endereco)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeOficina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                <a asp-action="DeleteOficina" asp-route-id="@item.Id" class="btn btn-outline-success">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>