@model IEnumerable<GestaodeFrota.Models.Posto>
@{
    ViewData["Title"] = "Posto";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NomePosto)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.EnderecoPosto)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePosto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoPosto)
            </td>
            <td>
                <a asp-action="DetailsPosto" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="DeletePosto" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>